* {
	outline : none;
	image-rendering: pixelated;

	font-smooth: never;
	-webkit-font-smoothing : none;
}

webview iframe {
	height : 100%;
}
/* @font-face {
	font-family: "Tahoma";
	src: url("../fonts/fs-tahoma-8px.otf") format("opentype"),
		 url("../fonts/fs-tahoma-8px.ttf")  format("truetype");
	/* src: url("../fonts/tahoma.otf") format("opentype"); */
	
		 /* url("/fonts/tahoma.woff") format("woff");
 */

html, body {
	--default-cursor : var(--arrow-cursor);

	--arrow-cursor : url('cursor/arrow.png'), default;
	--loading-cursor : url('cursor/arrow-loading.png'), default;
	--horizontal-resize : url('cursor/horizontalresize.png') 9 4, auto;
	--vertical-resize : url('cursor/verticalresize.png') 3 9, auto;
	--diagonal-resize : url('cursor/diagonal1resize.png') 7 7, auto;
	--diagonal-two-resize : url('cursor/diagonal2resize.png') 7 7, auto;
	--help-cursor : url('cursor/help.png') 0 0, auto;
	font-family : Tahoma;
	font-size : 8pt;
	background-color : var(--desktop);
	user-select : none;
	overflow : hidden;
	margin : 0px;
	background-position : center;
	background-repeat : no-repeat;
	background-size : 100% 100%;
	width : 100%;
	height : 100%;
	image-rendering: inherit;
}

.load {
	display : none;
	width : 0px;
	height : 0px;
}
window {
	display : block;
	position : absolute;
	left : 50px;
	top : 50px;
	width : 150px;
	height : 150px;
	box-sizing : border-box;
}
window content {
	display : block;
	width : 100%;
	height : 100%;
	overflow : hidden;
}

closeButton, maxButton, minButton {
	display : block;
	min-width : 21px;
	max-width : 21px;
	flex : 21px;
	height : 21px;
	margin-left : 1px;
	margin-right : 1px;
	float : right;
	/* background-color : #000; */
	z-index : 5000;
}

closeButton {
	margin-right: 2px;
}

titlebar {
	position : absolute;
	left : 0px;
	top : calc(-24px);
	width : 100%;
	height : 0px;
	white-space : nowrap;
	/* overflow-x : hidden; */
}

titlebar title,
titlebar a {
	position : relative;
	z-index : 0;
	pointer-events: none;
	display : block;
	flex : 1;
	/* float : left; */
	white-space : pre-wrap;
	overflow : hidden;
	box-sizing : border-box;
	display : flex;
}
titlebar a a {
	padding-left : 5px;
}
titlebar div {
	width : 16px;
	height : 100%;
	background-repeat : no-repeat;
	background-position : center;
	background-size : contain;
	display : block;
	background-image : url('../img/Icons/js_small.ico');
	pointer-events: all;
}

WindowManager {
	display : block;
	position : absolute;
	left : 0px;
	top : 0px;
	width : 100%;
	height : calc(100% - 30px);
	overflow : hidden;
}

taskbar {
	display : inline-flex;
	position : absolute;
	left : 0px;
	top : calc(100% - 30px);
	width : 100%;
	height : 30px;
	background-position : center;
	background-repeat : no-repeat;
	background-size : 100% 100%;
}

startButton {
	display : flex;
	box-sizing : border-box;
	height : 100%;
}

taskbar #taskbarTasks{
	display : inline-flex;
	height : 100%;
	flex : 100%;
	padding : 0px 5px;
	overflow : hidden;
	box-sizing: initial;
}

@keyframes taskbartaskpopin {
	0% {
		max-width: 24px;
	}

	100% {
		max-width: 156px;
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
taskbar #taskbarTasks div {
	/* box-sizing : border-box; */
	max-width : 156px;
	flex : 1;
	height : 25px;
	margin-top : 3px;
	display : flex;
	background-size: 156px 25px;
	animation : taskbartaskpopin linear;
	animation-duration: 0.125s;
	animation-iteration-count: 1;
	overflow : hidden;

}

taskbar #taskbarTasks .img {
	min-width : 16px;
	max-width : 16px;
	height : 100%;
	flex : 1;
	background-size : 16px 16px;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 8px;
	
}

taskbar #taskbarTasks a {
	line-height : 25px;
	height : 100%;
	flex : 1;
	padding-left: 5.5px;
	overflow : hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

startMenu {
	position : absolute;
	left : 0px;
	bottom : 30px;
	/* background-color : #FFF; */
	z-index : 9999999;
	vertical-align : bottom;
	min-width : 350px;
}

startMenu user {
	display : block;
	width : 100%;
	box-sizing : border-box;
}

startMenu logoffPanels {
	display : block;
	width : 100%;
	box-sizing : border-box;
}

taskbar notifBar {
	float : right;
	display : flex;
	vertical-align : center;
	height : 100%;
}

startButton startMenu {
	display : none;
	margin : 0px;
	padding : 0px;
}

startButton:focus startMenu,
startButton startMenu:focus-within {
	display : table;
}

startMenu div {
	display : table-cell;
	min-width : 175px;
	box-sizing : border-box;
	margin : 0px;
	/* height : 250px; */
}
#StartMenu_MyComputerSection,
#StartMenu_ProgramsSection {
	min-height : 100%;
}


startMenu null {
	display : block;
}

menuBand img {
	height : 32px;
	width : 32px;
	/* position : absolute; */
	/* left : 0px; */
	/* top : 0px; */
	display : flex;
	flex : 32px;
	min-width : 32px;
	max-width : 32px;
}

startMenu menuBand {
	display : flex;
}
menuBand a {
	min-width : 0px;
	display : flex;
	flex : 100%;
	align-items: center;
}

startButton img {
	padding-left : 2px;
}

startButton startMenu img {
	padding-left : 0px;
}
startMenu * {
	box-shadow : none;
	text-shadow : none;
}

startButton a {
	margin : 0px;
	position : relative;
	top : -1px;
	padding-right : 10px;
	letter-spacing: 0px;
}

WindowManager #desktop {
	width : 100%;
	height : 100%;
	position : absolute;
	left : 0px;
	top : 0px;
    box-sizing: border-box;
}

WindowManager #desktop div {
	float : left;
	text-align : center;
	vertical-align : middle;
	width : 48px;
	height : 48px;
}

WindowManager #desktop icon {
	display : inline-block;
	width : 32px;
	height : 32px;
	background-size : 100%;
	background-repeat : no-repeat;
}

body:active iframe {
	pointer-events : none;
}

startMenu menuBand {
	height : 32px;
}

contextMenu {
	display : block;
	position : absolute;
	left : 50px;
	top : 50px;
	white-space : nowrap;
}

contextMenu p,
mainMenu p {
	min-width : 100%;
	padding-left : 22px;
	padding-right : 16px;
	height : 17px;
	line-height: 11px;
	box-sizing : border-box;
	/* display : inline-block; */
}

/* mainMenu p {
	filter: invert(0);
} */

mainMenu p[invertedonhover="true"]:hover img,
contextMenu p[invertedonhover="true"]:hover img {
	filter: invert(1);
}

/* strong {
	font-weight: 1100;
} */

contextMenu separator,
mainMenu separator {
	margin: 3px 5px 3px 3px;
	height : 0px;
	/* min-width: 100%; */
	display: block;
	/* border-top : 1px solid #000; */
}

xpButton {
	display : inline-block;
	text-align : center;
	min-width : 73px;
	min-height : 21px;
	box-sizing : border-box;
	white-space : nowrap;
}

mainMenu {
	display : block;
	width : 100%;
	display : block;
}

mainMenu a {
	margin : 0px;
	padding : 2.5px 5px;
	display : inline-block;
	box-sizing : border-box;
}

mainMenu a subMenu {
	display : none;
	position : absolute;
	transform : translate(-5px, 0px);
}

mainmenu:focus a:hover subMenu,
mainmenu:focus-within a:hover subMenu {
	display : block;
}

.logonui b {
	display : block;
	width : 308px;
	height : 72px;
	cursor : pointer;
	font-family : Trebuchet MS;
	font-size : 14pt;
	box-sizing : border-box;
	padding : 5px;
}

.logonui b:focus {
	background-image : url('../img/loginUser.png');
}

#Windows_clock {
	padding-left : 5px;
	padding-right : 12px;
}

